@use '../variables' as *;

.footer {
    text-align: center;
    padding: $spacing-md;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin-top: $spacing-xl;

    p {
        font-size: 0.9rem;
        color: $text-muted;
    }
}