@use 'variables' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500&family=Playfair+Display:ital,wght@0,400;0,600;1,400&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: $font-display;
    font-weight: 400;
    line-height: 1.2;
}

h1 {
    font-size: clamp(3rem, 8vw, 6rem);
    letter-spacing: -0.02em;
}

h2 {
    font-size: clamp(2rem, 5vw, 4rem);
}

p {
    font-family: $font-primary;
    line-height: 1.6;
    font-weight: 300;
    color: $text-muted;
}
@media (max-width: 768px) {
  p{padding: 10% 25px;}
}